*{
    margin: 0;
    padding: 0;
}
.div1{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    position: fixed;
    background-color: rgb(248, 247, 247);
    z-index: 500;
}
.div2{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100px;
    margin-left: 10%;
}
.logo{
    width: 300px;
    height: 100px;
    object-fit: contain;
}
li{
    font-size: 18px;
    color: rgb(67, 61, 61);
    display: inline-block;
    padding: 10px;
    margin-top: 30px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.btn{
    width: 130px;
    height: 50px;
    background-color: black;
    font-size: 17px;
    color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.h1text{
    position: absolute;
    top: 70%;
    left: 28%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 50px;
}
.btn1{
    width: 180px;
    height: 50px;
    position: absolute;
    top: 80%;
    left: 45%;
    background-color: gray;
    border-style: none;
    font-size: 13px;
}
.service-text{
    color: rgb(193, 189, 189);
    margin-left: 45%;
    margin-top: 60px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 30px;
}
.img1{
    width: 400px;
    height: 250px;
    object-fit: contain;
    margin-bottom: 10px;
}
.service{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-gap: 30px;
    margin-left: 80px;

}
.h2text{
    color: rgb(112, 123, 119);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 10px;
    margin-left: 10px;
}
.ptext{
    color: rgb(56, 51, 51);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    margin-left: 10px;
}
.btn2{
    width: 250px;
    height: 50px;
    margin-left: 40%;
    margin-top: 40px;
    background-color: black;
    color: white;
    font-family: serif;
    margin-bottom: 50px;
}
.div3{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: rgb(17, 10, 3);
}
.div3img{
    height: 300px;
    width: 40%;
    object-fit: fill;
}
.div3h1{
    position: absolute;
    color: rgb(236, 240, 240);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin-top: 130px;
}
.btn3{
    width: 70px;
    height: 40px;
    background-color: black;
    color: aliceblue;
    font-size: 15px;
}
.nav2{
    margin-left: 100px;
    margin-bottom: 30px;   
}
.div4{
    display: grid; 
    height: 1400px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 30px;
    border-bottom: 1px solid gray;
}
.btn4{
    width: 250px;
    height: 70px;
    background-color: black;
    color: aliceblue;
    margin-left: 110px;
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.div5{
    display: flex;
    justify-content: center;
    grid-gap: 30px;
}
.ourteamimg{
    width: 250px;
    height: 250px;
}
.ourteam-txt1{
    color: gray;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ourteam-txt{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.brand-txt{
    margin-top: 150px;
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    margin-left: 30%;
    margin-bottom: 10px;
    font-size: 50px;
}
.brand-txt1{
    margin-left: 30%;
    font-size: 18px;
    color: rgb(51, 48, 48);
    font-style: italic;
    margin-bottom: 80px;
}
.div6{
    display: flex;
    justify-content: center;
}
.paraimg{
    width: 100%;
    height: 450px;
    object-fit: fill;
}
.paratext{
    color: rgb(253, 251, 251);
    font-size: 25px;
    position: absolute;
    font-style: oblique;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
}
.footimg{
    width: 150px;
    height: 120px;
    object-fit: fill;
}
.footdiv{
    display: flex;
    justify-content: center;

}
u{
    color: white;
}
.footlogo{
    width: 150px; 
    margin-left: 45%;  
}
footer{
    background-color: black;
    padding: 40px;

}
.foottext{
    color: aliceblue;
    text-align: center;
}